{% extends 'core/base.html'%}

{% block title%} Home Page {% endblock title %}

{% block content %} 
    <h1 style="text-align:center ;">Blog App</h1>
    <hr>
    {% for blog in blogs%}
        <h2>{{blog.title}}</h2>
        <p>{{blog.content}}</p>
        <small>{{blog.date_posted}} - {{blog.user.username}}</small>

        {%if user.is_superuser or user.id == blog.user.id %}
            <a href="{% url 'edit-blog' id=blog.id %}">Edit</a>
            <a href="{% url 'delete-blog' id=blog.id %}">Delete</a>
        {%endif%}



       
        <hr>
    {%endfor%}
    <div style = "text-align:center ;">
        <a href="{% url 'add-blog' %}" class="btn btn-primary">Add</a>
    </div>
    
    

{% endblock content %}